<!DOCTYPE html>
<html>

<head>
    <title>Microsoft Graph Explorer</title>
</head>

<body ng-app="ApiExplorer" ng-controller="ApiExplorerCtrl" role="document" ng-cloak>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="#">Microsoft Graph Explorer</a>
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="https://msdn.microsoft.com/en-us/Library/Azure/Ad/Graph/api/api-catalog">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ng-show="userInfo.isAuthenticated">{{userInfo.userName}}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#" ng-show="userInfo.isAuthenticated" ng-click="logout()">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" ng-hide="userInfo.isAuthenticated" ng-click="login()">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <div class="container body-content" ng-controller="FormCtrl">
        <div class="autocomplete" ng-controller="datalistCtrl">
        <form class="main-query">
                    <md-autocomplete flex
                                     md-selected-item="text" 
                                     md-no-cache="true"
                                     md-search-text="searchText" 
                                     md-search-text-change="searchTextChange(searchText)"
                                     md-items="item in getMatches(searchText)" 
                                     md-item-text="item.autocompleteVal" 
                                     md-min-length="0" 
                                     md-selected-item-change="$parent.selectedItemChange(item)">
                        
                       <span id="autocompleteText" md-highlight-text="searchText" md-highlight-flags="^i">{{item.autocompleteVal}} </span>
                </md-autocomplete>
            <br />
        <div layout="row" layout-align="space-between">
              <md-input-container flex=75>
                  <md-menu>
                     <md-button class="md-raised" ng-click="$mdOpenMenu($event)" ng-disabled="history.length==0">
                         History 
                     </md-button>
                     <md-menu-content width="6">
                         <md-menu-item ng-repeat="call in history">
                             <md-button ng-value={{call}} ng-click="historyOnClick(call)">
                                {{call.urlText }}
                                 <span flex></span>
                                 <div ng-class="call.success"> 
                                     {{call.statusCode}}
                                 </div>
                              </md-button>
                         </md-menu-item>
                     </md-menu-content>
                  </md-menu>
               </md-input-container>
            
                 <md-input-container ng-controller="DropdownCtrl">
                    <md-menu>
                        <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
                              {{getServiceOption()}}
                        </md-button>
                         <md-menu-content>
<!--
                            <md-select id="http-verb-button" ng-model="selectedOption">
-->                        <md-menu-item ng-repeat="choice in items">
                                <md-button ng-click="onItemClick(choice)">
                                   {{ choice }}
                               </md-button>
                             </md-menu-item>
                            <!--</md-select>-->
                        </md-menu-content>
                    </md-menu>
                </md-input-container>
            
            <md-input-container ng-controller="VersionCtrl">
                <md-menu>
                    <md-button class="md-raised" ng-click="$mdOpenMenu($event)">
                           {{getVersion()}}
                    </md-button>
                   <md-menu-content>
                       <md-menu-item ng-repeat="choice in items">
                             <md-button ng-click="onItemClick(choice)">
                                 {{choice}}
                             </md-button>
                       </md-menu-item>
                   </md-menu-content>
               </md-menu>
            </md-input-container>
            
               <md-input-container>
                    <md-button class="md-raised" type="submit" ng-click="submit(searchText)" ng-disabled="!userInfo.isAuthenticated"> 
                        Go </md-button>     
                       <md-tooltip  aria-label="Login to use the graph explorer!" md-direction="top" ng-show="!userInfo.isAuthenticated">
                           login to use the graph explorer! 
                        </md-tooltip> 
               </md-input-container>
            
         </div>
        </form>
        </div>   

        <img id="img" width="250px" height="250px" ng-show="showImage" />
        <div ng-class="progressVisibility"> <md-progress-linear md-mode="indeterminate"></md-progress-linear> </div>
        
        <md-tabs md-dynamic-height md-selected=selectedIndex>
            <md-tab label="response"> 
                <md-tab-body>
                    <div id="jsonViewer" ng-show="showJsonViewer"></div>
                </md-tab-body>
            </md-tab>
            <md-tab label="request body" ng-disabled="requestBodyDisabled()">
                <div id="jsonEditor" ng-show="showJsonEditor"></div>
            </md-tab>
        </md-tabs>

    </div>

    <!--    scripts are loaded here-->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="./src/api-explorer.css">
    <link rel="stylesheet" href="./bower_components/ngprogress/ngProgress.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
    <!-- Ace not available currently on bower -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <script src="./src/api-explorer-helpers.js"></script>
    <script src="./src/api-explorer-jsviewer.js"></script>
    <script src="./src/api-explorer-jseditor.js"></script>
    <script src="./src/constants.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <scipt src="./lib/angular-mocks.js"></scipt>

     <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/adal.min.js"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/adal-angular.min.js"></script>

    <script src="./bower_components/ngprogress/build/ngprogress.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>

    <script src="./src/api-explorer-init.js"></script>
    <script src="./src/api-explorer-app.js"></script>
    <script src="./src/api-explorer-svc.js"></script>
    <script src="./src/api-explorer-msgraph.js"></script>
    <script src="./src/api-explorer-ctrl.js"></script>
</body>

</html>