<div layout="row" layout-align="space-around">
     <md-input-container ng-controller="DropdownCtrl">
         <label> Http verb </label>
        <md-select id="http-verb-button" ng-model="$parent.selectedOptions">
            <md-option ng-value="choice" ng-repeat="choice in items" ng-click="onItemClick(choice)">
               {{ choice }}
           </md-option>
        </md-select>
   </md-input-container>

     <md-input-container ng-controller="VersionCtrl">
       <md-select id="version-button" ng-model="$parent.$parent.selectedVersion">
             <md-option ng-value="choice" ng-repeat="choice in items" ng-click="onItemClick(choice)">
                 {{choice}}
           </md-option>
       </md-select>
    </md-input-container>
</div>
